<main
  class="min-h-screen w-screen bg-background flex items-center justify-center"
>
  <div
    class="w-[80vw] max-w-[500px] border border-border bg-card text-card-foreground rounded-lg p-6"
  >
    <div class="w-full flex justify-center">
      <img alt="logo" src="assets/logos/logo.png" class="h-28" />
    </div>
    <h1 class="text-center font-bold text-2xl mt-6">Welcome back</h1>
    <p class="text-center mt-2 text-sm text-muted-foreground">
      Please enter your details to sign in
    </p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="mt-6">
      <div class="flex flex-col gap-1">
        <label for="email">E-mail Address</label>
        <input
          formControlName="email"
          tabindex="1"
          id="email"
          type="email"
          class="bg-input rounded-lg p-3 font-light placeholder:text-sm ring-1 ring-transparent focus:ring-primary focus:outline-none"
          placeholder="Enter your email..."
        />
        @if (getEmailIsEmpty()) {
        <span class="text-xs mt-1 text-red-500">O e-mail é obrigatório</span>
        } @else if (getEmailIsInvalid()) {
        <span class="text-xs mt-1 text-red-500">Preencha um e-mail válido</span>
        }
      </div>

      <div class="flex flex-col gap-1 mt-4">
        <label for="password">Password</label>
        <input
          formControlName="pwd"
          tabindex="2"
          id="password"
          type="password"
          class="bg-input rounded-lg p-3 font-light placeholder:text-sm ring-1 ring-transparent focus:ring-primary focus:outline-none"
          placeholder="Enter your password..."
        />
        @if (getPasswordIsEmpty()) {
        <span class="text-xs mt-1 text-red-500">A senha é obrigatória</span>
        } @else if (getPasswordMinLengthError()) {
        <span class="text-xs mt-1 text-red-500"
          >A senha deve ter no mínimo {{ MIN_LENGTH_PASSWORD }} caracteres</span
        >
        }
      </div>

      <div class="flex row items-center my-6 justify-between font-light">
        <div class="flex items-center">
          <input
            id="remember"
            type="checkbox"
            formControlName="remember"
            class="w-4 h-4 text-primary border border-border rounded cursor-pointer"
          />
          <label for="remember" class="ms-2 cursor-pointer">Remember me</label>
        </div>
        <a href="#" class="underline cursor-pointer">Forgot password?</a>
      </div>

      <button
        class="w-full rounded-lg bg-primary p-3 hover:bg-primary/90 font-semibold"
        [class.bg-primary-foreground]="isLoading"
        [class.hover:bg-primary-foreground]="isLoading"
        [disabled]="isLoading"
      >
        {{ isLoading ? "Loading..." : "Sign In" }}
      </button>
    </form>

    <div class="mt-6 text-center font-light">
      Don't have an account yet?
      <strong class="text-primary cursor-pointer">Sign Up</strong>
    </div>
  </div>
</main>
