<app-title [title]="title" [description]="description"></app-title>

<section class="w-full mt-6">
  <form class="grid grid-cols-12 gap-4" (submit)="onSubmit()">
    <input
      type="text"
      class="col-span-12 md:col-span-10 bg-input rounded-lg p-3 font-light placeholder:text-sm ring-1 ring-transparent focus:ring-primary focus:outline-none"
      placeholder="Enter your link"
      name="link"
      [(ngModel)]="url"
    />
    <button
      [disabled]="!urlIsValid() || loading"
      class="h-full bg-primary rounded-lg text-background p-3 font-semibold col-span-12 md:col-span-2 hover:bg-primary/90 disabled:bg-primary/50 disabled:cursor-not-allowed disabled:opacity-70 focus:outline-none disabled:ring-transparent"
    >
      <ng-icon class="animate-spin" *ngIf="loading" name="heroArrowPath"></ng-icon>
      <p *ngIf="!loading">Shorten</p>
    </button>
  </form>
</section>
